<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado</title>
    <style>
        body {
            background-image: url(https://images2.imgbox.com/f6/6e/AUewarCy_o.png);
            background-color: #ff0f0f; 
            text-align: center;
            background-size: cover;
            font-size: 35px;
            font-family: Arial, sans-serif;
            
        }

        .texto {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 900px;
            text-align: justify;
            
        }

    </style>
</head>
<body>
    <p class="texto">Certificamos que Gustavo Erick Viana Leandro - 40028922 participou da palestra “Node.js para iniciantes”, em 09/05/2024, com carga horária de 2 horas</p>
</body>
</html>